div {
    text-align: center;
}
img {
    height: 150px;
    border-radius: 150px;
}
p {
    font-weight: 100;
    font-size: 20px;
}
h4 {
    font-weight: 100;
}
img:hover {
    transform: rotate(720deg);
    transition: 2s all;
}